.pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 3px;
	padding: 0.75em 1.5em;
	border-bottom: 1px solid #f2f4f5;
}

.paginationBtn,
.paginationArrow {
	padding: 0.5rem;
	border: 1px solid transparent;
	border-radius: 5px;
	background-color: #fff;
	font-size: 0.625rem;
	cursor: pointer;
	transition: border 0.3s ease-in-out;
}

.paginationBtn:disabled {
	cursor: auto;
	background-color: #f2f4f5;
}
.paginationArrow:disabled {
	cursor: auto;
}

.paginationBtn:disabled:hover,
.paginationArrow:disabled:hover {
	border: 1px solid transparent;
}

.paginationBtn:hover,
.paginationArrow:hover {
	border: 1px solid #000;
}
