.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	gap: 0.375rem;
	width: 100%;
	padding: 0.75em 1.5em;
	border-bottom: 1px solid #f2f4f5;
	background-color: #fff;
}

.dark {
	background-color: #23272f;
	border-bottom: 1px solid rgb(60, 60, 60);
}
.light {
	background-color: white;
}

.title {
	font-size: 1.75rem;
	padding-bottom: 6px;
}

.date {
	font-size: 0.75rem;
}
