.toggleLabel {
	display: inline-flex;
	position: relative;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	height: fit-content;
}

.switch {
	position: relative;
	width: 36px; /* Further reduced size */
	height: 36px; /* Further reduced size */
}

.toggleInput {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 5;
	opacity: 0;
}

.switch span {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	width: 50%; /* Further reduced size */
	height: 50%; /* Further reduced size */
	background: #ffac33;
	border: 2px solid white; /* Thinner border */
	transition: all ease 0.15s;
}

.toggleInput:checked ~ .switch span {
	border: 2px solid #f2f4f5;
}

.switch div {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.switch div::before,
.switch div::after {
	content: ' ';
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background: #ffac33;
	width: 6%; /* Further reduced size */
	height: 80%; /* Reduced height */
	border-radius: 6px; /* Smaller radius */
	transition: all ease 0.3s;
}

.switch div:nth-child(1)::before {
	transform: translate(-50%, -50%) rotate(0deg);
}

.switch div:nth-child(1)::after {
	transform: translate(-50%, -50%) rotate(45deg);
}

.switch div:nth-child(2)::before {
	transform: translate(-50%, -50%) rotate(90deg);
}

.switch div:nth-child(2)::after {
	transform: translate(-50%, -50%) rotate(135deg);
}

.switch::before,
.switch::after {
	content: ' ';
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
	/* background: white; */
	transition: all ease 0.15s;
}

.toggleInput:checked ~ .switch::before,
.toggleInput:checked ~ .switch::after {
	background: #23272f;
}

.switch::before {
	width: 0%;
	height: 0%;
	z-index: 10;
}

.switch::after {
	width: 30%; /* Smaller size */
	height: 30%; /* Smaller size */
}

.toggleInput:checked ~ .switch span {
	width: 70%; /* Adjusted size */
	height: 70%; /* Adjusted size */
	background: #f2f4f5;
}

.toggleInput:checked ~ .switch div::before,
.toggleInput:checked ~ .switch div::after {
	height: 30%; /* Smaller height */
}

.toggleInput:checked ~ .switch::before {
	left: 35%;
	top: 35%;
	width: 60%;
	height: 60%;
}

.toggleInput:checked ~ .switch::after {
	width: 0%;
	height: 0%;
}

.toggleInput:not(:checked) ~ .switch {
	transform: rotate(180deg);
	transition: all ease 2.15s 0.1s;
}
